<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crud.dao.ClockMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.crud.bean.Clock">
    <id column="clock_id" jdbcType="INTEGER" property="clockId" />
    <result column="clock_name" jdbcType="VARCHAR" property="clockName" />
    <result column="clock_status" jdbcType="VARCHAR" property="clockStatus" />
    <result column="clock_time" jdbcType="DATE" property="clockTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    clock_id, clock_name,clock_status,clock_time
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.crud.bean.ClockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clock
    where clock_id = #{clockId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clock
    where clock_id = #{clockId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.atguigu.crud.bean.ClockExample">
    delete from clock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.crud.bean.Clock">
    insert into clock (clock_id, clock_name,clock_status,clock_time)
    values (#{clockId,jdbcType=INTEGER}, #{clockName,jdbcType=VARCHAR},#{clockStatus,jdbcType=VARCHAR},#{clockTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.crud.bean.Clock">
    INSERT INTO `clock`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clockId != null">
        clock_id,
      </if>
      <if test="clockName != null">
        clock_name,
      </if>
      <if test="clockStatus != null">
        clock_status,
      </if>
      <if test="clockTime != null">
        clock_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clockId != null">
        #{clockId,jdbcType=INTEGER},
      </if>
      <if test="clockName != null">
        #{clockName,jdbcType=VARCHAR},
      </if>
      <if test="clockStatus != null">
        #{clockStatus,jdbcType=VARCHAR},
      </if>
      <if test="clockTime != null">
        #{clockTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atguigu.crud.bean.ClockExample" resultType="java.lang.Long">
    select count(*) from clock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update clock
    <set>
      <if test="record.clockId != null">
        clock_id = #{record.clockId,jdbcType=INTEGER},
      </if>
      <if test="record.clockName != null">
        clock_name = #{record.clockName,jdbcType=VARCHAR},
      </if>
      <if test="record.clockStatus != null">
        clock_status = #{record.clockStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.clockTime != null">
        clock_time = #{record.clockStatus,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update clock
    set clock_id = #{record.clockId,jdbcType=INTEGER},
      clock_name = #{record.clockName,jdbcType=VARCHAR},
    clock_status = #{record.clockStatus,jdbcType=VARCHAR},
    clock_time = #{record.clockTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.crud.bean.Clock">
    update clock
    <set>
      <if test="clockName != null">
        clock_name = #{clockName,jdbcType=VARCHAR},
      </if>
      <if test="clockStatus != null">
        clock_status = #{clockStatus,jdbcType=VARCHAR},
      </if>
      <if test="clockTime != null">
        clock_time = #{clockTime,jdbcType=DATE},
      </if>
    </set>
    where clock_id = #{clockId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.crud.bean.Clock">
    update clock
    set clock_name = #{clockName,jdbcType=VARCHAR}
    set clock_status = #{clockStatus,jdbcType=VARCHAR}
    set clock_time = #{clockTime,jdbcType=DATE}
    where clock_id = #{clockId,jdbcType=INTEGER}
  </update>
</mapper>